html {
    font-size: 32px;
    font-family: sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.leaderboard-container {
    align-items: start;
    justify-content: start;
    width: 90%;
}

.leaderboard {
    display: flex;
    flex-direction: column;   
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.empty-text-container {
    text-align: center;
}

.leaderboard p {
    margin: 0;
}