<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Science In The City</title>
    <link rel="stylesheet" href="http://localhost:5000/static/index.css">
    <script type="text/javascript" src="http://localhost:5000/static/index.js"></script>
</head>
<body>
<div class="flex-column">
    <h2>Please Select a Difficulty</h2>

    <div class="flex-row">
        <button style="background-color:green; font-weight:bold">Easy</button>
        <button style="background-color:orange; font-weight:bold">Medium</button>
        <button style="background-color:red; font-weight:bold">Hard</button>
    </div>
</div>

</body>
</html>